/* CSS Related to login page */

.main-holder {
    width: 50%;
    height: 70%;
    background-color: #1a9988;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-error-msg {
    width:23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color:aquamarine;
    border: 1px solid #8a0000;
    background-color: blue;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
    width: 90%;
}

#login-form-submit {
    width: 90%;
    padding: 7px;
    border-radius: 5px;
    border-color: #ffffff;
    color: white;
    font-weight: bold;
    background-color: #66aaaa;
    cursor: pointer;
    outline: none;
}

.cancelbtn {
    width: auto;
    padding: 1px 4px;
    /* background-color: #f44336; */
}

.invis_btn {
    width: 20%;
    padding: 7px;
    border: 0px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}


label {
    margin-top: 12px;
    font-size: 14.5px;
    margin-bottom: auto;
}


/* span.psw{
    float: right;
    padding-top: 16px;
} */