{% extends 'AppUser/base.html' %}


{% block content %}     
    <div class="topnav">
        <input type="text" placeholder="Search schedules">
    </div>
    <br>
        
    <div class="sidenav">
        <a href="#User">User</a> <br>
        <a href="#New">New+</a> <br>
            
        <!-- <a href="#Categories">Categories</a> -->
        <div class="subnav">
            <a>Categories <i class="fa fa-caret-down"></i></a> <br>
            <div class="subnav-content">
                <a href="#School">School</a>
                <a href="#Work">Work</a> 
                <a href="#Personal">Personal</a>
                <a href="#Family">Family</a> 
                <a href="Custom">Custom+</a> 
            </div>
        </div> <br>

        <a href="#Templates">Templates</a> <br>
        <a href="#Trash">Trash</a>
    </div>

    <br>

    <a class="invis_btn" href="{% url 'AppCalendar:calendar' %}">Main Calendar</a>

    <div class="main">
        <h1> Main Calendar </h1>
        <div class = "calendar_picture">
            <a class="invis_btn" href="{% url 'AppCalendar:calendar' %}">Main Calendar</a>
        </div>

        <br> <hr> <br>
            
        <h1>Sub Calendars</h1>

        <div class = "calendar_picture">
            <h2> Sub calendars shown here </h2>
        </div>
    </div>            
{% endblock content %}   