{% extends 'AppUser/base.html' %}

{% block title %}
    Schedule Puzzle
{% endblock title %}

{% block content %}
    <div class="main-holder">
        <form method="post" action="{% url 'AppUser:user_login' %}">
            {% csrf_token %}
            <input type="text" name="email" id="email" class="login-form-field" placeholder="Username"> <br>
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">

            <hr style="height: 15px; background-color: #ffffff">

            <input type="submit" value="Login" id="login-form-submit">
            
            <br>
                        
            <label class="invis_btn">  
                <input type="checkbox" checked="checked" placeholder="Remember me"> Remember me
            </label>
                
            <br>
            
            <!-- <button type="button" class="cancelbtn">Cancel</button> -->
            <button class="invis_btn" type="button">Forgot Password</button> 
            <button class="invis_btn" type="button">Create Account</button>
            
              <a href="{% url 'AppUser:user_register' %}" class="invis_btn" type="button">Create Account</a>
             <!-- <span class ="psw">Create  -->
            <!-- <a href="#">Create account</a> -->
        </form>
        <div id="login-error-msg-holder">
            <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password </span></p>
        </div>
    </div>
{% endblock content %}   