{% extends "master.html" %}
{% load static %}

{% block title %}
    CS411W - Gold Group - Presentations
{% endblock %}

{% block content %}
        <h1>Presentations</h1>

        <h2>Feasibility Presentation version 1</h2>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQqKbJ3YKVK0jWJxhd3rxHNeUKxcu9oGETv4zwsfyoq3nlnwzoxjZbwZvBlQj3W3Q/embed?start=false&loop=false&delayms=3000" 
                frameborder="0" width="960" height="569"
                allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> <br>

        <h2>Feasibility Presentation version 2</h2>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSRoFUP8YpmujMx9K1OZegKx5olTbj9f0P1opsisDT613v4GMi2sld6GuNR2AcbbzNnmBUOj_OYrQjf/embed?start=false&loop=false&delayms=3000"
                frameborder="0" width="960" height="569"
                allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> <br>
        
        <h2>Design Presentation</h2>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQwXKvkuTLPbag8cp5zl-YbV-nQBvIF9IlfxDG3hpzp68jsJ1tAYA3Gc3u4RmsumwcQv2BBDWY3L22f/embed?start=false&loop=false&delayms=3000"
                frameborder="0" width="960" height="569"
                allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> <br>
        
        <h2>Prototype Presentation</h2>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT4NGuquXkNUjD8Mbyj_1ZU4u5nQQ5X1G7tjGQ4THRFqUd-AzOU5X3t8btf1BRkt8-WqaJjV-egXT0W/embed?start=false&loop=false&delayms=3000"
                frameborder="0" width="960" height="569"
                allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> <br>
        
        <footer>
            <br><br><hr>
            <a href="/"><b>Return to homepage</b></a>
        </footer>    
{% endblock %}