{% extends "master.html" %}
{% load static %}

{% block title %}
    CS411W - Gold Group - Problem
{% endblock %}

{% block content %}
        <h1>Problem Description</h1>

        <h2>Societal Problem</h2>
        <p>
            People have many tasks and comparatively little time. <b>People have difficulty organizing and
            prioritizing tasks.</b> A person may create a schedule only to realize the schedule does not
            work for that person, resulting in that person starting over.
        </p>

        <br>

        <h2>Problem Characteristics</h2>
        <ul>
            <li>People have difficulties managing tasks.</li>
            <li>They find it is difficult to  prioritize and schedule tasks.</li>
            <ul>
                <li>In a 2022 study of 500 employees across several industries, less than 1 in 5 people
                    (18%) have a proper time management system.</li>
                <li>82% of people just use a list or their email inbox as a time management tool.</li>
            </ul>
            <li>For those who do plan, they find their plans to be too rigid and fail to follow through.</li>
            <ul>
                <li>Only 1 in 5 (20%) people carry out a monthly time audit to review how they are spending their time.</li>
            </ul>
        </ul>

         <footer>
            <br><br><hr>
            <a href="/"><b>Return to homepage</b></a>
        </footer>
{% endblock %}