{% extends "master.html" %}
{% load static %}

{% block title %}
    CS411W - Gold Group - References
{% endblock %} 
    
{% block content %}
    <h1>References</h1>

    <p class ="apa-reference">Indeed Editorial Team. (2021, February 22).
        <em>12 Time Management Problems (and How To Fix Them).</em> Indeed.
        <a href="https://www.indeed.com/career-advice/career-development/time-management-problems">
            https://www.indeed.com/career-advice/career-development/time-management-problems</a>
    </p>
    
    <p class ="apa-reference">Nemko, M. (2021, December 3).
        <em>4 Causes of Poor Time Management | Psychology Today.</em> Psychology Today.
        <a href="https://www.psychologytoday.com/us/blog/how-to-do-life/202112/4-causes-of-poor-time-management">
            https://www.psychologytoday.com/us/blog/how-to-do-life/202112/4-causes-of-poor-time-management</a>
    </p>

    <p class = "apa-reference">Prabhu, A. (2022, November 25). 
        <em>Importance of scheduling tasks and its benefits.</em> Profit.co. Retrieved from
        <a href="https://www.profit.co/blog/task-management/importance-of-scheduling-tasks-and-its-benefits/">
            https://www.profit.co/blog/task-management/importance-of-scheduling-tasks-and-its-benefits/</a>
    </p>

    <p class ="apa-reference">Richardson, B. (2022, October 26).
        <em>Time Management Statistics /& Facts (New 2022 Research).</em> Acuity Training.
        <a href="https://www.acuitytraining.co.uk/news-tips/time-management-statistics-2022-research/">
            https://www.acuitytraining.co.uk/news-tips/time-management-statistics-2022-research/</a>
    </p>

    <footer>
        <br><br><hr>
        <a href="/"><b>Return to homepage</b></a>
    </footer>
{% endblock %}