<div class ="wrapper bg-white mt-sm-5">
    <h4 class="pb-4 border-bottom">Account Settings</h4>
    <div class="d-flex align-items-start py-3 border-bottom"> 
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img" alt="">
        <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
            <p>Accepted file type .png. Less than 1MB</p> <button class="btn button border"><b>Upload</b></button>
        </div>
    </div>
    <div class = "py-2">
        <div class="row py-2">
            <div class="col-md-6"> 
                <label for="firstname">First Name</label>
                <input type="text" class="bg-light form-control" id="firstname" placeholder="First Name">   
    </div>
    <div class="col-md-6 pt-md-0 pt-3"> 
        <label for="lastname">Last Name</label>
        <input type="text" class="bg-light form-control" id="lastname" placeholder="Last Name">
    </div>
</div>
   
