{% extends 'AppCalendar/base.html' %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'AppCalendar:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'AppCalendar:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'AppCalendar:task_new' %}"> New Task </a>
    
	<form method="post" action="{% url 'AppCalendar:export' %}">
		{% csrf_token %}
		<select name="format">
		  <option value="ics">ICS</option>
		  <option value="csv">CSV</option>
		</select>
		<button type="submit" value ="Export" class="btn btn-info">Export</button>
	  </form>

</div>

{{ calendar }}
{% endblock %}