<div id="popUp" class="popupWindow">
  <div class="popupWindow-content">
    <span class="close closeWindowBtn" id="close">&times;</span>
    <div class="popupWindow-header">
      <h2>Duplicate Tasks</h2>
    </div>
    <div class="popupWindow-body">
      <p>There are duplicate tasks that need attention.</p>
    </div>
    <button id="closeWindowBtn" class="closeWindowBtn">Close Window</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var openWindowBtn = document.getElementById('submitBtn');
    var closeWindowBtn = document.getElementById('close');
    var popupWindow = document.getElementById('popUp');

    openWindowBtn.addEventListener('click', function() {
        popupWindow.style.display = "block";
    });

    closeWindowBtn.addEventListener('click', function () {
        popupWindow.style.display = 'none';
    });
  });
</script>