<button id="openPopupBtn" class="openPopupBtn">Address Change</button>
<div id="popUpBtn" class="popupBtnWindow">
  <div class="popupBtnWindow-content">
    <div class="popupBtnWindow-header">
      <h2>Change address</h2>
    </div>
    <div class="popupBtnWindow-body">
      <p>This feature changes the task's address from physical to coordinates and vice versa.</p>
    </div>
    <button id="closeWindowBtn" class="closeWindowBtn">Close Window</button>
  </div>
</div>

{% include 'AppCalendar/switchAddress.html' %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var openPopupBtn = document.getElementById('openPopupBtn');
    var popupWindow = document.getElementById('popUpBtn');
    var closeWindowBtn = document.getElementById('closeWindowBtn');

    openPopupBtn.addEventListener('click', function(event) {
        event.preventDefault();
        popupWindow.style.display = "block";
    });

    closeWindowBtn.addEventListener('click', function() {
      popupWindow.style.display = 'none';
      window.location.href='{% url "AppCalendar:SwitchAddress" %}';
    });
  });
</script>
