{% extends 'AppCalendar/base.html' %}

{% block title %}
    Reschedule
{% endblock title %}


{% block content %}
<div class="clearfix">
    {% csrf_token %}
    <table class="form form-table">
        <h2 class="warning"> {{ message }}</h2> <br>
        <tr>
            <td>
                <p>
                    <b>Existing Task: </b> <br>
                    <b>Task Name: </b> {{ overlap_task.title }} <br>
                    <b>Priority: </b> {{ overlap_task.priority }} <br>
                    <b>Start Time: </b> {{ overlap_task.start_time }} <br>
                    <b>End Time: </b> {{ overlap_task.end_time }} <br> <br>
                    <b>Description: </b> {{ overlap_task.description }} <br>
                    <b>Address: </b> {{ overlap_task.address }} <br>
                </p>
            </td>
            <td>
                <p>
                    <b>Incoming Task: </b> <br>
                    <b>Task Name: </b> {{ task.title }} <br>
                    <b>Priority: </b> {{ task.priority }} <br>
                    <b>Start Time: </b> {{task.start_time}} <br>
                    <b>End Time: </b> {{task.end_time}} <br> <br>
                    <b>Description: </b> {{task.description}} <br>
                    <b>Address: </b> {{task.address}} <br>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn buttons add-button login_btn" href="{% url 'AppCalendar:task_edit' task.task_id %}"> Reschedule </a>
            </td>
            <td>
                <a class="btn buttons add-button login_btn" href="{% url 'AppCalendar:task_edit' overlap_task.task_id %}"> Reschedule </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="btn buttons add-button login_btn" href="{% url 'AppCalendar:calendar' %}"> Keep both tasks as is </a>
            </td>
        </tr>
    </table>
</div>

{% endblock content %}   
