<!-- sidebar.html -->
<style type="text/css">
    .sidenav {
        height: 100%;
        width:200px;
        position: fixed;
        z-index: 1;
        left:0;
        background-color: azure;
        overflow-x: hidden;
        padding-top:20px;
        padding-bottom: 20px;
        padding-left: 10px;
        border:solid 2px blueviolet

    }

</style>


<div class="sidenav">
    <h2><u>To-do List</u></h2>
    <ul>
        {% for item in sidebar_items %}
            <li>{{ item.title }}</li>
        {% endfor %}
    </ul>
</div>