{% extends 'AppCalendar/base.html' %}
{% load static %}

{% block title %}
Task
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info right" href="{% url 'AppCalendar:calendar' %}"> Cancel </a>
</div>

{% if messages %}
  <div class="alert alert-warning">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
  </div>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr>
      <td>
        <input class="btn buttons add-button login_btn" type="submit" value="Add Event">
      </td>
     </tr>
  </table>
</form>

<div id="popUp" class="popupWindow">
  <div class="popupWindow-content">
    <div class="popupWindow-header">
      <h2>Duplicate Tasks</h2>
    </div>
    <div class="popupWindow-body">
      <p>There are duplicate tasks that need attention.</p>
    </div>
    <button id="closeWindowBtn" class="closeWindowBtn">Close Window</button>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var openWindowBtn = document.querySelector('.add-button');
    var closeWindowBtn = document.getElementById('closeWindowBtn');
    var popupWindow = document.getElementById('popUp');

    if(openWindowBtn && closeWindowBtn) {
      openWindowBtn.addEventListener('click', function(event) {
        popupWindow.style.display = "block";
      });

      closeWindowBtn.addEventListener('click', function() {
        popupWindow.style.display = 'none';
        window.location.href = '{% url "AppCalendar:task_new" %}';
      });
    } else {
      console.error('One or more elements not found. Check your IDs');
    }
  });
</script>

{% endblock %}